Repository chxseh/csgo-demo-uploader, changes with the labels that .github/labeler.yml gives for each.
All labels: bot, dependencies, misc

Update .eslintrc.json
  .eslintrc.json
Labels: misc

Update index.js
  index.js
Labels: bot

Update index.js
  index.js
Labels: bot

Update ready.js
  events/ready.js
Labels: bot

Lock issues/PRs automatically upon closing. [skip ci]
  .github/workflows/lock.yml
Labels: dependencies, misc

New Folder Structure.
  package.json
  src/config.json.example
  src/events/ready.js
  src/index.js
Labels: dependencies

Update README.md
  README.md
Labels: misc

Update README.md
  README.md
Labels: misc

Update README.md
  README.md
Labels: misc

Create start.bat
  start.bat
Labels: none

Create start.sh
  start.sh
Labels: none

Update README.md
  README.md
Labels: misc

Remove another intent I don't think this bot needs.
  src/index.js
Labels: none

Update start.sh to be +x.
  start.sh
Labels: none

Lock/Unlock PR/Issue upon Close/Open. [skip ci]
  .github/workflows/unlock.yml
Labels: dependencies, misc

Change console logs. [skip ci]
  src/events/ready.js
Labels: none

[skip ci]
  README.md
Labels: misc

Update ready.js
  src/events/ready.js
Labels: none

Update ready.js
  src/events/ready.js
Labels: none

Update ready.js
  src/events/ready.js
Labels: none

Create LICENSE.md
  LICENSE.md
Labels: misc

Update ready.js
  src/events/ready.js
Labels: none

Update ready.js
  src/events/ready.js
Labels: none

Light cleanup.
  src/events/ready.js
  src/index.js
Labels: none

Simplify Install Process.
  README.md
  package-lock.json
  package.json
  src/index.js
  start.bat
Labels: dependencies, misc

Toggle for deleting demos.
  src/config.json.example
  src/events/ready.js
  src/index.js
Labels: none

Better crash handling.
  package-lock.json
  package.json
  src/events/ready.js
  src/index.js
Labels: dependencies

print config options
  src/events/ready.js
Labels: none

Updating in start
  start.bat
  start.sh
Labels: none

`Playing: CS:GO`
  src/events/ready.js
Labels: none

on-site editing is horrible
  src/events/ready.js
Labels: none

`.editorconfig` [skip ci]
  .editorconfig
  .vscode/extensions.json
Labels: misc

Update .editorconfig
  .editorconfig
Labels: none

Ensure uploads are successful before deleting from disk.
  package.json
  src/app.js
  src/events/ready.js
Labels: dependencies

.github/labeler.yml:

---
bot:
  - commands/**/*
  - events/**/*
  - utils/**/*
  - config.json.example
  - index.js

dependencies:
  - package.json
  - package-lock.json
  - .github/**/*

misc:
  - README.md
  - LICENSE.md
  - .gitignore
  - .gitattributes
  - .eslintrc.json
  - .github/**/*
  - .vscode/**/*
